<div class="survey-list container mt-4 ">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Liste des sondages</h2>
    <a href="#" class="btn btn-primary">Add Survey</a>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4" *ngFor="let survey of surveys">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ survey.title }}</h5>
          <p class="card-text">{{ survey.description }}</p>

          <div *ngIf="survey.surveyEditions && survey.surveyEditions.length > 0; else noEditions">
            <h6 class="mb-3">Owner : {{ survey.owner.name }}</h6>

            <h6>Editions :</h6>
            <ul>
              @for (edition of survey.surveyEditions; track $index){
                <button
                  class="btn btn-secondary m-1"
                  (click)="redirectToEdition( survey.id,edition.date)">

                  {{ edition.date }}
                </button>

              }
            </ul>
          </div>

          <ng-template #noEditions>
            <p class="text-muted">Aucune édition disponible.</p>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
